---
import { Image } from "@astrojs/image/components";
import ThreeDLogo from "../assets/ThreeDLogo.astro";
import Button from "../Button.astro";
---

<section class="px-8 py-32 z-10" id="about-section">
	<div class="max-w-laptop mx-auto text-gray-700">
		<div class="flex flex-col lg:flex-row justify-between gap-8 md:gap-16">
			<div class="grow basis-1/2">
				<ThreeDLogo />
				<div class="mt-6">
					<h2 class="text-gray-700 font-bold text-xl">
						We are Google Developer Student Clubs - Loyola.
					</h2>
					<p class="text-gray-700 text-md mt-4">
						GDSC-L is a student organization powered by Google Developers. We
						aim to build students’ skills and networks by learning in a
						peer-to-peer learning environment and building solutions to uplift
						communities.
					</p>
				</div>
			</div>
			<div class="lg:grow lg:basis-1/2 relative community-image">
				<Image
					src={import("./assets/gdsc-community.png") as any}
					format="webp"
					loading="lazy"
				/>
			</div>
		</div>

		<div
			class="lg:mt-20 mt-8 flex flex-col md:flex-row justify-between gap-20 md:gap-10"
		>
			<div class="max-w-md">
				<h3 class="text-lg font-bold">Events</h3>
				<p class="mt-4">
					GDSC-L has something for everyone! From talks & workshops to
					competitions & networking mixers, we'd love to be a part of your
					journey in tech. Take a look at the rest of our events!
				</p>
				<Button asLink class="mt-5" href="/events">See events</Button>
			</div>
			<div class="max-w-md">
				<h3 class="text-lg font-bold">Tech Products</h3>
				<p class="mt-4">
					We offer a wide range of tech services for our clients. Looking for
					someone to build your next idea? We got you covered. Hop on over to
					our portfolio!
				</p>
				<Button asLink class="mt-5" href="/products">See tech products</Button>
			</div>
		</div>
	</div>
</section>

<style>
	#about-section {
		background: radial-gradient(
				109.83% 223.78% at 50% 46%,
				rgba(255, 255, 255, 0.49) 9.37%,
				#e8f0fe 50%,
				#feefc3 100%,
				#e8f1fe 100%
			),
			#fff;
	}

	.community-image::after {
		content: "";
		mix-blend-mode: screen;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		inset: 0;
		opacity: 0.6;
		background: linear-gradient(
			115.2deg,
			#498af4 2.89%,
			#eb4a3d 25.76%,
			#fbbc04 53.78%,
			#0f9d58 92.1%
		);
	}
</style>
