---
import { Image } from "@astrojs/image/components";
import images from "./assets/brands/brands";

const brands = images.map((image: any) => {
	const arr = image.src.split("/") as string[];
	return {
		name: arr[arr.length - 1].split(".")[0].replaceAll("-", " "),
		url: image,
	};
});
---

<section class="px-8 py-32 bg-white">
	<div class="max-w-laptop mx-auto">
		<h2 class="text-gray-700 text-4xl font-bold text-center">
			A community built with trusted companies and partners
		</h2>

		<div
			class="gap-12 mt-12 w-full flex-wrap grid justify-items-center grid-cols-2 md:grid-cols-4 lg:grid-cols-5"
		>
			{
				brands.map((brand) => {
					return (
						<div
							class:list={[
								"w-40 h-[74px]",
								"md:[&:nth-child(4n-3)]:justify-self-start md:[&:nth-child(4n)]:justify-self-end",
								// Reset
								"lg:[&:nth-child(4n-3)]:justify-self-auto lg:[&:nth-child(4n)]:justify-self-auto",
								//
								"lg:[&:nth-child(5n-4)]:justify-self-start lg:[&:nth-child(5n)]:justify-self-end",
							]}
							class="justify-self-auto"
						>
							<Image
								src={brand.url}
								width={160}
								height={74}
								aspectRatio={80 / 37}
								class="w-full h-full object-contain"
								alt={brand.name}
								format="webp"
							/>
						</div>
					);
				})
			}
		</div>
	</div>
</section>
