<section class="px-8 py-32">
	<div class="max-w-laptop mx-auto">
		<h2 class="text-gray-700 text-4xl font-bold text-center">
			A community built with trusted companies and partners
		</h2>

		<div class="flex justify-between gap-12 mt-10 w-full flex-wrap">
			{
				Array(10)
					.fill(0)
					.map(() => {
						return <div class="w-40  h-[74px] bg-[#D9D9D9]" />;
					})
			}
		</div>
	</div>
</section>
