<section class="px-8 py-32">
	<div class="max-w-laptop mx-auto">
		<h2 class="text-gray-700 text-4xl font-bold text-center">
			A community built with trusted companies and partners
		</h2>
		<div
			class="grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid gap-8 mt-10 w-full justify-items-center"
		>
			{
				Array(10)
					.fill(0)
					.map(() => {
						return <div class="w-40 h-[74px] bg-[#D9D9D9]" />;
					})
			}
		</div>
	</div>
</section>
