---
import testimonials from "./data/testimonials";
import TestimonialCard from "./TestimonialCard.astro";
---

<section
  id="testimonials-section"
  class="px-8 py-28 md:pt-32 md:py-32 relative text-gray-700 bg-yellow-gradient"
  style={{
    backgroundColor: "#FFF",
  }}
>
  <h2 class="text-xl font-bold text-center mb-6">
    A community loved by its members
  </h2>
  <div class:list={["absolute bottom-0 left-0 h-36 w-full", "floor"]}></div>

  <div class="embla-testimonials -mx-8 cursor-grab active:cursor-grabbing">
    <div class="embla__container">
      {
        testimonials.map((testimonial, index) => (
          <div class="embla__slide">
            <TestimonialCard
              variant={index % 4 || (index as any)}
              message={testimonial.message}
              name={testimonial.name}
              position={testimonial.position}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import EmblaCarousel from "embla-carousel";

  const emblaNode = document.querySelector(
    ".embla-testimonials"
  ) as HTMLElement;

  if (emblaNode) {
    let rafId = 0;

    const embla = EmblaCarousel(emblaNode, {
      dragFree: true,
      // draggable: false,
      loop: true,
      // align: 0.09,
    });

    const animate = () => {
      const engine = embla.internalEngine();
      engine.location.add(-0.5); // controls the speed
      engine.target.set(engine.location);
      engine.scrollLooper.loop(-1);
      engine.slideLooper.loop();
      engine.translate.to(engine.location);
      rafId = requestAnimationFrame(animate);
    };

    const startAutoScroll = () => {
      rafId = requestAnimationFrame(animate);
    };
    const stopAutoScroll = () => {
      cancelAnimationFrame(rafId);
      rafId = 0;
    };

    embla.on("settle", startAutoScroll);
    embla.on("pointerDown", stopAutoScroll);

    startAutoScroll();
  }
</script>

<style>
  .floor {
    background: linear-gradient(322.51deg, #fbc21c 8.59%, #ffecb3 94.36%);
  }

  .embla-testimonials {
    overflow-x: hidden;
    padding: 5rem 0;
    margin-bottom: calc((5rem + 2rem) * -1);
  }
  .embla__container {
    display: flex;
    /* grid-auto-flow: column;
		grid-auto-columns: 30%;  */
  }
  .embla__slide {
    flex: 0 0 600px;
    /* width: 30%; */
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .embla__slide {
      flex: 0 0 400px;
      /* width: 100%; */
    }
  }
</style>
