---
import Section from "../Section.astro";
import EventCard from "./EventCard.astro";
---

<Section class="bg-blue-gradient">
	<div class="py-32">
		<div>
			<h2 class="text-xl md:text-2xl font-bold text-center">Upcoming Events</h2>
			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6"
				style={{
					gridAutoRows: "265px",
				}}
			>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
			</div>
		</div>

		<div class="mt-32">
			<h2 class="text-xl md:text-2xl font-bold text-center">Past Events</h2>
			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-6 gap-6"
				style={{
					gridAutoRows: "265px",
				}}
			>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
				<EventCard
					description="This is a description of the event above. This is a description of the event above"
					title="Nextbox"
					image=""
					date="SEP 2022"
				/>
			</div>
		</div>
	</div>
</Section>
