---
import Section from "../Section.astro";
import DepartmentCard from "./DepartmentCard.astro";
import Robot from "./assets/robot.svg";
import LightBulb from "./assets/light-bulb.svg";
import Money from "./assets/money.svg";
import Speak from "./assets/speak.svg";
import Wave from "./assets/wave.svg";
import Gear from "./assets/gear.svg";

const departments: Array<{
	title: string;
	description: string;
	image: any;
}> = [
	{
		title: "Secretariat",
		description:
			"They ensure that the organization’s database is organized, streamlined, and updated.",
		image: LightBulb,
	},
	{
		title: "Technology",
		description:
			"They create educational materials and setup workshops to train members in tech, along with spearheading project teams in developing both internal and client products.",
		image: Robot,
	},
	{
		title: "Operations",
		description:
			"They ensure that events and initiatives are ideated and delivered successfully.",
		image: Gear,
	},
	{
		title: "Communications",
		description:
			"They plan, develop, and implement marketing and communication strategies.",
		image: Speak,
	},
	{
		title: "Human Resources",
		description:
			"They empower member growth and strengthen community relationships.",
		image: Wave,
	},
	{
		title: "Finance and Externals",
		description:
			"They manage funds and build strong relationships with external institutions.",
		image: Money,
	},
];
---

<Section
	style={{
		background:
			"radial-gradient(74.09% 151.04% at 50% 55.09%, rgba(255, 255, 255, 0.49) 1.99%, rgba(255, 255, 255, 0.49) 9.37%, #E8F0FE 50%, #E8F1FE 100%)",
	}}
	class="py-20"
>
	<h2 class="text-2xl font-bold text-center">Our Departments</h2>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10"
	>
		{
			departments.map(({ title, description, image }) => (
				<DepartmentCard title={title} description={description} image={image} />
			))
		}
	</div>
</Section>
