---
import About from "../components/Landing/About.astro";
import Brands from "../components/Landing/Brands.astro";
import Contact from "../components/Landing/Contact.astro";
import Hero from "../components/Landing/Hero.astro";
import Navbar from "../components/Landing/Navbar.astro";
import Testimonials from "../components/Landing/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<Navbar />
	<main>
		<Hero />
		<About />
		<Brands />
		<Testimonials />
		<Contact />
	</main>
</Layout>
