---
import About from "../components/Landing/About.astro";
import Brands from "../components/Landing/Brands.astro";
import Contact from "../components/Landing/Contact.astro";
import Hero from "../components/Landing/Hero.astro";
import Testimonials from "../components/Landing/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Home"
  navbarProps={{
    defaultMode: "transparent",
  }}
>
  <main>
    <Hero />
    <About />
    <Testimonials />
    <Contact />
  </main>
</Layout>

<script>
  document.querySelector("#b")?.addEventListener("click", () => {
    (document.querySelector("#a") as HTMLButtonElement).click();
  });
</script>
