---
export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
	fullWidth?: boolean;
	class?: string;
	href?: string;
};
const props = Astro.props as Props;
const { fullWidth, href, class: C, ...restProps } = props;
---

<a
	{...restProps}
	href={href}
	class:list={[
		"text-gray-500 hover:text-blue-400 font-medium transition-colors cursor-pointer",
		fullWidth && "w-full",
		props.class,
	]}
>
	<slot />
</a>
