---
export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  fullWidth?: boolean;
  class?: string;
  href: string;
  newTab?: boolean;
  active?: boolean;
};
const props = Astro.props as Props;
const { fullWidth, href, newTab, class: C, active, ...restProps } = props;

const mergedProps = {
  target: newTab ? ("_blank" as any) : undefined,
  rel: newTab ? "noopener noreferrer" : undefined,

  ...restProps,
  href,
};

const isActive =
  active ?? (href === Astro.url.pathname || href + "/" === Astro.url.pathname);
---

<a
  {...mergedProps}
  href={href}
  class:list={[
    "hover:text-blue-400 font-medium transition-colors cursor-pointer",
    fullWidth && "w-full",
    isActive && "text-blue-400",
    props.class,
  ]}
>
  <slot />
</a>
