---
import "../styles/fonts.css";
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/logo.svg" />
		<meta property="og:image" content="/og-image.png" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="/twitter-card-image.png" />

		<meta property="og:title" content="GDSC Loyola" />
		<meta
			property="og:description"
			content="Uplifting communities through technology."
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-gray-700">
		<slot />
	</body>
</html>
